<nav>
    <img src="images/icon.png" alt="icon" class="logo">
</nav>

<div class="container">
    {{!-- <div class="message right"> </div>
    <div class="message left"> </div>
    <div class="message center"> </div> --}}

</div>

<div class="send">
    <form action="#" id="send-container" autocomplete="off">
        <input type="text" name="messageInp" id="messageInp">
        <button class="btn" type="submit"> send </button>
    </form>
</div>